body {
  background-color: darkgrey;
}
.main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
 
}
.block-hello {
  /* display: none; */
  margin-bottom: 50px;
  background-color: greenyellow;
  border: 8px solid black;
  padding: 20px;
  text-align: center;
  font-size: 60px;
  color: black;
  font-weight: bold;
}
.text {
  display: none;
  margin-bottom: 40px;
  background-color: greenyellow;
  border: 8px solid black;
  padding: 20px;
  text-align: center;
  font-size: 48px;
  color: black;
  font-weight: bold;
}
.image {
  display: none;
}

